<link rel="stylesheet" href="${ctxPath}/assets/css/menu.css"/>
<link rel="stylesheet" href="http://at.alicdn.com/t/c/font_3754441_ynenwvdln6a.css">
<div class="fly-header layui-bg-black">
	  <div class="layui-container">
		<ul class="layui-nav fly-nav layui-hide-xs">
		       	<li class="layui-nav-item layui-this">
			       <h1>
					   <img style="width: 53px;" src="https://img.weianzhuo.cn/m00/a7/22/e22f693c50e7fca6c6e045b554559860.png" alt="logo">
				   </h1>

		        </li>
			     <li class="layui-nav-item layui-this searchBox" style="top: 0 !important;margin-left: -7%;line-height: 20px;">

						 <i class="layui-icon layui-icon-search" style="font-size: 30px;"></i>
						 <input type="text" id="sea_text" class="searchInput search-inp" autocomplete="off" placeholder="请输入您要查找的源码标题">
						 <button type="button" class="layui-btn layui-btn-normal" onclick="Search()">查询</button>

				 </li>

		</ul>
		  <div class="shell">
			  <:for items="${menu}" var="item">
				  <a href="${item.url}" class="box">
					  <i class="${item.icon}"></i>
					  <span>${item.name}</span>
				  </a>
			  </:for>
		  </div>
		<ul class="layui-nav fly-nav-user">
		  
		  <!-- 未登入的状态 -->
		  <:if test="${so.isAuthenticated() == false}">
			  <li class="layui-nav-item">
				<a class="iconfont icon-touxiang layui-hide-xs" href="/default/login"></a>
			  </li>
			  <li class="layui-nav-item">
				<a href="/default/login">登入</a>
			  </li>
          </:if>
          <!-- 登入后的状态 -->
	      <:if test="${so.isAuthenticated() == true}">
		      <li class="layui-nav-item">
		        <a class="fly-nav-avatar" href="javascript:;">
		          <cite class="layui-hide-xs">${user.nickName!}</cite>
		          <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg">
		        </a>
		        <dl class="layui-nav-child">
		          <dd><a href="/users/index">用户中心</a></dd>
		          <dd><a href="/users/order">我的订单</a></dd>
		          <dd><a href="/users/release">我的发布</a></dd>
		          <dd><a href="/users/notice">通知信息</a></dd>
		          <hr style="margin: 5px 0;">
		          <dd><a href="${ctxPath}/default/logout" style="text-align: center;">退出</a></dd>
		        </dl>
		      </li>
	      </:if>
    </ul>
  </div>
</div>
<script>
	var aList = document.querySelectorAll(".shell a");
	for (let i = 0; i < aList.length; i++) {
		if (window.location.href.slice(21,40) ===aList[i].attributes["href"].nodeValue ){
			aList[i].classList.add('active');
		}

	}

</script>